<div class="drawings-search">
  <div class="container">
    <%= form_tag(drawings_path, :method => "get", class: "drawings-search-form") do %>
      <%= text_field_tag :search, params[:search], :autocomplete => :off, class: "biginput" %>
      <%= button_tag class: "empty" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <% if @drawings.empty? %>
    <p class="text-center">We currently have no drawings available.</p>
  <% else %>
    <%= will_paginate @drawings, renderer: BootstrapPagination::Rails %>
    <% @drawings.each_slice(4) do |chunk| %>
      <div class="row">
        <%= render 'listing', drawings: chunk %>
      </div>
    <% end %>
  <% end %>
</div>

